<?xml version="1.0" encoding="utf-8"?>
<root>
  <Theme>White</Theme>
  <DataBaseConnect>
    <server>80.240.250.128</server>
    <username>Zhirov</username>
    <password>64580082</password>
    <database>zhirov</database>
  </DataBaseConnect>
  <autorun>1</autorun>
  <collapsetotray>False</collapsetotray>
  <animation>True</animation>
</root>